<a href=".">ホーム</a><br>
<br>
<a href=".">＃話題を検索</a><br>
<br>
<a href=".">通知</a><br>
<br>
<a href=".">メッセージ</a><br>
<br>
<a href=".">ブックマーク</a><br>
<br>
<a href=".">リスト</a><br>
<br>
<a href=".">プロフィール</a><br>
<br>
<a href=".">もっと見る</a>
<p><%= link_to 'ツイートする','/tweets/new' %></p>
