#header{
    text-align:center;
    padding: 10px;
}

#content{
    text-align: center;
    padding-right: 180px;
}

#header nav li a:hover{
    background-color: #555;
    color: white;
}

#sidebar{
    width: 200px; float: left;
    
}
